
body {
    margin: 0px;
}
#player {
    height: 50vh;
    width: 100%;
    position: relative;
    display: inline-block;
    line-height: 0;
    overflow: hidden;
}

.loading {
   
        position: absolute;
        z-index: 10;
        left: 0;
        top: 0;
        width: 100vw;
        height: 1vh;
        transform-origin: 0 50%;
        transform: scaleX(0);
        background: red;
    
}

#start {
    position: absolute;
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    top: 50%;
    right: 50%;
    z-index: 1;
    transform: translate(50%, -50%);
    width: 160px;
}
/* plugin */


#player > img {
    position: absolute;
    display: inline-block;
    visibility: hidden;
    border: 0;
    width: 100%;
    height: auto;
}

#player > .show {
    visibility: visible;
}



